[Desktop Entry]
Name=Linux Battle Shaper
Comment=CPU Limiter with universal focus support
Exec=lbs
Icon=lbs
Terminal=false
Type=Application
Categories=Utility;System;
StartupNotify=true
